<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edgetabredirector"
    android:versionCode="1"
    android:versionName="1.0">
    <application android:label="EdgeTabRedirector" android:icon="@mipmap/ic_launcher">
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposeddescription" android:value="Redirect Edge's new tab"/>
        <meta-data android:name="xposedminversion" android:value="93"/>
    </application>
</manifest>
